{% extends "app/base.html" %}
{% load static %}
{% block title %}
Test work from UTF
{% endblock %}


{% block content %}
<div class="container-fluid main">
    <div class="row">
        <div class="col-3">
            <h3>Категории блюд</h3>
            <ul>
                {% for food_category in food_categories %}
                <li>{{ food_category }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-9">
            <h3>Блюда</h3>
            <ul>
                {% for food in foods %}
                <li>{{ food }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
